altair==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1613942767734/work
astor==0.8.1
attrs==21.4.0
backcall==0.2.0
base58==2.1.1
bleach==4.1.0
blinker==1.4
blis @ file:///D:/bld/cython-blis_1636053412437/work
Bottleneck @ file:///C:/ci/bottleneck_1607557040328/work
brotlipy @ file:///D:/bld/brotlipy_1636012392748/work
cachetools==5.0.0
catalogue @ file:///D:/bld/catalogue_1632148704396/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046278333/work
cftime @ file:///D:/bld/cftime_1642887671469/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1637858084653/work
click @ file:///D:/bld/click_1635822757640/work
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1618931796384/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
cryptography @ file:///D:/bld/cryptography_1637649026447/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///D:/bld/cymem_1636053399015/work
Cython @ file:///C:/ci/cython_1618435342791/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator==4.4.2
defusedxml==0.7.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.4
ephem @ file:///D:/bld/ephem_1641116309128/work
fonttools==4.25.0
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1620644331537/work
future @ file:///D:/bld/future_1635819693853/work
gensim @ file:///C:/ci/gensim_1621559122447/work
gitdb==4.0.9
GitPython==3.1.26
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1632549476122/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1641326159059/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1642514202277/work
ipykernel @ file:///C:/ci/ipykernel_1633545585502/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1635944283918/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
jedi @ file:///C:/ci/jedi_1611341083684/work
jellyfish==0.9.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema==4.4.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///C:/ci/jupyter_core_1636537172022/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
LunarCalendar==0.0.9
MarkupSafe @ file:///D:/bld/markupsafe_1635833710307/work
matplotlib @ file:///C:/ci/matplotlib-suite_1638289827560/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-service==2.4.0
munkres==1.1.4
murmurhash @ file:///D:/bld/murmurhash_1636019833866/work
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
netCDF4 @ file:///D:/bld/netcdf4_1636303787759/work
networkx==2.6.3
nltk==3.6.5
notebook==6.4.8
numexpr @ file:///C:/ci/numexpr_1618856728739/work
numpy==1.21.4
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///C:/ci/pandas_1635506685681/work
pandocfilters==1.5.0
parso @ file:///tmp/build/80754af9/parso_1596826841367/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1635227809952/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
plotly==5.5.0
preshed @ file:///D:/bld/preshed_1636077890169/work
prometheus-client==0.13.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
prophet @ file:///D:/bld/prophet_1629685343686/work
protobuf==3.19.4
pyarrow==7.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///D:/bld/pydantic_1636021267451/work
pydeck==0.7.1
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyLDAvis @ file:///home/conda/feedstock_root/build_artifacts/pyldavis_1616598811607/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent==0.18.1
PySocks @ file:///D:/bld/pysocks_1635862562854/work
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
pywinpty==2.0.2
pyzmq @ file:///C:/ci/pyzmq_1638435148211/work
rake-nltk==1.0.6
regex @ file:///C:/ci/regex_1628063427816/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
scikit-learn @ file:///C:/ci/scikit-learn_1635187472945/work
scipy @ file:///C:/ci/scipy_1630606917240/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
segtok==1.5.11
Send2Trash==1.8.0
setuptools-git==1.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
sip==4.19.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap==5.0.0
spacy @ file:///D:/bld/spacy_1636396382210/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1625687473390/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1634809367310/work
srsly @ file:///D:/bld/srsly_1635234229439/work
statsmodels @ file:///D:/bld/statsmodels_1636765465477/work
streamlit==1.5.1
summa==1.2.0
tabulate==0.8.9
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
thinc @ file:///D:/bld/thinc_1635495553022/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml==0.10.2
toolz==0.11.2
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1630326630489/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
tzdata==2021.5
tzlocal==4.1
ujson @ file:///D:/bld/ujson_1640096043863/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
validators==0.18.2
vecstack==0.4.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1612156086016/work
watchdog==2.1.6
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.2
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832858406/work
wincertstore==0.2
wordcloud @ file:///C:/Users/kirkl/Downloads/wordcloud-1.8.1-cp39-cp39-win_amd64.whl
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1643726632328/work
xgboost==1.5.1
yake @ git+https://github.com/LIAAD/yake@96e4a233f94ab384de30d057a8b5c889a3a21ed5
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
